form {
  max-width: 400px;
}

.form-control {
  background-color: #ffffff;
  border-color: #ffffff;
  padding: 0.8rem 0.75rem;
  height: calc(1.5rem + 0.75rem + 4px);
  font-size: 1rem;
  color: #000;
}

h1 {
  text-align: center;
  color: #000;
  font-weight: 300;
}

.input-group-text,
.form-signin .form-control {
  border: 0 none;
  background-color: #fff;
  color: #000;
  height: 50px;
}

.passToggler {
  background: #fff;
  border: 0 none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

  .passToggler:focus {
    outline: none;
  }

  .passToggler .mat-icon {
    color: #a59eaa;
  }
