.container-custom {
  background-color: #fafafa;
  margin: 56px auto 0;
  margin-left: unset;
  margin-right: unset;
  padding:  20px 20px 0 20px;
  /* min-height: 90vh; */
}
@media (max-width: 600px) {
  .container-custom {
    padding:  10px 0 0;
  }
}