form {
  width: 100%;
  margin: auto;
}

h1 {
  text-align: center;
  color: #000;
  font-weight: 300;
}

.input-group-text,
.form-control {
  border: 0 none;
  background-color: #fff;
  color: #000;
  height: 50px;
}
.form-control:focus {
    box-shadow: none;
  }
