<form class="form-signup" [formGroup]="fpForm" (ngSubmit)="onSubmit(fpForm)" autocomplete="off">
  <h1 class="m-3">Forgot Password</h1>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><mat-icon svgIcon="email16x13"></mat-icon></span>
      </div>
      <input type="email"
             formControlName="email"
             class="form-control" email
             placeholder="Email" autocomplete="off"
             autofocus />
    </div>
    <mat-error *ngIf="f.email.invalid && f.email.touched" class="ml-1">
      {{ getError('email') }}
    </mat-error>
  </div>
  <div class="mt-3">
    <button type="submit" [disabled]="fpForm.invalid" [class.disabled]="fpForm.invalid" mat-raised-button color="primary" class="float-right">Submit</button>
  </div>
  <div class="clearfix"></div>
</form>
