@media (min-width: 1300px) {
  .all {
      width: 30vw;
  }
}
@media (max-width: 1300px) and (min-width: 600px){
  .all {
      width: 50vw;
  }
}
@media (max-width: 600px) {
  .all {
      width: 65vw;
  }
}
.subtitle-center {
  word-break: break-word;
  text-align: center;
}